:root {
    --navy: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --iris: #4D5AE5;
    --white: #FFFFFF;
    --bg: #FAFAFA;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--bg);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
}


.portfolio-section {
    padding: 96px 0;
    text-align: center;
}

.portfolio-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--navy);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    background-color: var(--white);
    border: 1px solid #E7E9FC;
    text-align: left;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.02);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--navy);
    margin: 32px 0 8px 16px;
}

.portfolio-item-text {
    color: var(--slate);
    margin: 0 0 32px 16px;
    font-size: 16px;
}


.footer {
    background-color: var(--navy);
    color: var(--cloud);
    text-align: left;
    padding: 100px 156px;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--cloud);
    display: inline-block;
    margin-bottom: 16px;
    transition: color 0.3s ease;
}

.footer-logo span {
    color: var(--iris);
}

.footer-logo:hover {
    color: var(--iris);
}

.footer-text {
    color: var(--cloud);
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
}