body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LOGO */
a[href="./index.html"] {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

/* NAVIGATION */
ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

ul li a:hover,
ul li a:focus {
    color: #404bbf;
}

/* CONTACTS */
address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* HEADINGS */
h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: none;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* TEXT */
p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */
footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

footer a {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

footer p {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}